.btn--ios {
  color: #2196f3;
  font-size: 18px;
  border-radius: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.btn--outline {
  color: #8E8E93;
  border: 1px solid #8E8E93;
  background-color: transparent;
}
